<%- include("../other/header-place") %>
<%- include("../other/user-nav") %>

<input id="pac-input" class="controls" type="text" placeholder="Search Box"/>

<div id="map"></div>


<%- include("../other/footer") %>

