<%- include("other/header") %>
<%- include("other/index-nav") %>

<div id="landing-page">

    <div id="welcome-text">
        <h2>Have your trips at your fingertips.</h2> 
        <p>Plan your trip itinerary with Wanderer. Add, organize, and schedule the visits to your favourite places on your trip to never miss a spot!</p>
    </div>

    <a href="/trips/new" class="btn btn-primary">Start Planning Your Trip</a>

</div>

<%- include("other/footer") %>