#landing-page {
    background-image: url('/img/dino-reichmuth-A5rCN8626Ck-unsplash.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}