/* Color Pickers */ 

:root {
    --primaryColor: #f24c00;
    --primaryColor2: #d94500;
}


/* Headers */ 

#logo-icon {
    fill: var(--primaryColor);
    height: 2rem;
    width: 2rem;
}

#logo-name {
    margin-left: 1.2rem;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
}

#login-google {
    fill: black;
    height: 1rem;
    width: 1rem;
}

.profile {
    height: 2rem;
    width: 2rem;
    margin-left: 1.2rem;
    border-radius:50%;
    position: relative;
    overflow: hidden;
}

.profile img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Landing Page */
#landing-page {
    position: relative;
    padding: 10%;
}

#landing-page::before {
    content: "";
    background-image: url('/img/dino-reichmuth-A5rCN8626Ck-unsplash.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#welcome-text {
    background-color: white;
    margin-left: 40%;
    padding: 5%;
    border-radius: .25rem;
}
#welcome-text h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#welcome-text p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.btn-primary:hover {
    background-color: var(--primaryColor2);
    border-color: var(--primaryColor2);
}

.landing-btn {
    margin-right: 1.5rem;
}

/* Trips Index */ 

#trip-cards {
    margin-top: 5%;
}

.trip-card {
    border-radius: .4rem;
    width: 100%;
    padding-top: 125%;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.trip-card:hover {
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 4x 8px 0 rgba(0,0,0,0.6);
}

.trip-card-img, .trip-card-text, .trip-card-text-add {
    position: absolute; 
    left:0; 
    right:0; 
    bottom:0;
}

.trip-card-img {
    object-fit: cover;
    height: 100%;
    z-index: -1;
}

.trip-card-text, .trip-card-text-add {
    text-align: center;
}

.trip-card-destination {
    font-weight: bold;
    color: white;
    font-size: 2rem;
    margin-bottom: 0.2rem;
    text-transform: capitalize;
}

.trip-card-dates {
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.trip-link {
    z-index: 1;
}

/* Add New Trip */

#add-new-trip {
    padding: 2%;
}

/* Trip Details Page */

#trip-show {
    padding: 2%;
}

#sidebar {
    text-align: center;
}

.sidebar-ico {
    font-size: 2rem;
    text-align: center;
}

.list-group-item {
    text-align: center;
    margin-top: 0.5rem;
}

#itin-details, #sidebar {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

#itin-details::-webkit-scrollbar {
    display:none;
}

#sidebar::-webkit-scrollbar {
    display:none;
}

#trip-destination {
    text-transform: capitalize;
    display: inline;
}

.place-card {
    padding: 2%;
}

/* Add New Places */

.place-search-box {
    padding: 2%;
}

.place-link {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
}

.place-link:hover {
    color: var(--primaryColor);
    text-decoration: none;
}

.place-icon {
    font-size: 2rem;
    text-align: right;
    color: var(--primaryColor);
}

.place-types {
    margin-bottom: 0.2rem;
}

#trip-title {
    font-weight: bold;
    text-transform: capitalize;
}

.checkbox {
    font-size: 2rem;
    padding-right: 1rem;
}

span .badge {
    text-transform: capitalize;
}