<%- include("../other/header") %>
<%- include("../other/user-nav") %>

<div id="add-new-trip">
    <div class="row">
        <div class="col-6">

            <h1>Plan a new trip</h1>
            
            <form action="/trips/add" method="POST">
                
                <div class="form-group">
                    <label for="trip-destination">Destination</label>
                    <input type="text" class="form-control" name="destination" id="trip-destination" required>
                </div>
    
                <div class="form-group">
                    <label for="trip-range">Date Range</label>
                    <input type="text" class="form-control" name="daterange" placeholder="Start Date - End Date" value="" required> 
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
</div>
</div>

</div>


<%- include("../other/footer") %>